* {
    box-sizing: border-box;
}



body {
    background-color: rgb(22, 23, 24);
}

header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(216, 126, 8);
    font-size: x-large;
    text-align: center;
    color: black;
    border-style: dotted;
    border-width: 5px;
    margin-bottom: 2%;


}


nav {
    background-color: rgb(0, 255, 106);
    display: flex;
    font: 400;
    font-size: larger;
    border-style: dotted;
    border-width: 4px;
 

}

ul {
    list-style-type: none;
}

li a {

    display: block;
    padding: 8px;

}

li a:hover {
    background-color: black;
}

section {

    padding: 1%;
}

.headings {
    color: #fff;
    text-decoration: underline;
    text-align: center;
}

.info {
    text-align: center;
}

p {
    color: #fff;
    font: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    text-align: center;
    font: 500;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    background-color: #fff;
    border-style: dotted;
    border-width: 4px;
}